
.frame-1 {
  position: absolute;
  width: 10vw;
  height: 15vw;
  border: rgb(255, 132, 118);
  border-width: 7px;
  border-style: solid;
  /* border-radius: 50%; */
  top: 30vh;
  left: 10vw;
  /* animation: animasi1 2s ease infinite alternate; */
  /* z-index: -1; */
}

.frame-2 {
  position: absolute;
  width: 10vw;
  height: 15vw;
  border: rgb(114, 177, 250);
  border-width: 7px;
  border-style: solid;
  top: 40vh;
  left: 15vw;
  /* border-radius: 50%; */
  /* z-index: -2; */
}

.frame-3 {
  position: absolute;
  width: 10vw;
  height: 15vw;
  border: rgb(175, 250, 114);
  border-width: 7px;
  border-style: solid;
  top: 60vh;
  left: 7vw;
  /* border-radius: 50%; */
  /* z-index: -2; */
}

.frame-1:hover {
    transition: 1s;
    transform: rotate(20deg);
}

.frame-2:hover {
    transition: 1s;
    transform: rotate(-20deg);
}

.frame-3:hover {
    transition: 1s;
    transform: rotate(20deg);
}

/* @keyframes animasi1 {
    from {
        transform: rotate(45deg);
        background-color: rgb(68, 68, 68);
    }

    to {
        transform: rotate(-45deg);
    }
} */